body {
  background-color: #20232D;
  color: #eee;
}
body #main {
  background-color: #3F445B;
  box-shadow: 0 0 20px 1px #746bb980;
}
body #theme-switch,
body #show-rank-list {
  background-color: #868686;
  color: #fff;
}

#game-over .modal-content {
  background-color: #7b87b9;
  color: #eee;
}

#rank-list .modal-content {
  background-color: #7b87b9;
  color: #eee;
}
#rank-list .modal-content .rank-table-nav a {
  background-color: transparent;
  color: #c9ffd0;
}
#rank-list .modal-content .rank-table-nav a:hover {
  border-color: #5d6fc1 #5d6fc1 #ddd;
  background-color: #5d6fc1;
}
#rank-list .modal-content .rank-table-nav li.active > a {
  background-color: #7B87B9;
  color: #eee;
}
#rank-list .modal-content .rank-table-nav li.active > a:hover {
  border-color: #ddd #ddd transparent;
}
#rank-list .modal-content table > tbody > tr:nth-of-type(odd) {
  background-color: #6b79b3;
}
#rank-list .modal-content table th,
#rank-list .modal-content table td {
  border-top-color: #b9b9b9;
  border-bottom-color: #b9b9b9;
}

#action-btn-group > .btn-group button {
  background-color: #818CBB;
  color: #eee;
  transition: all 0.1s;
}
#action-btn-group > .btn-group button:hover {
  box-shadow: 0 0 5px 2px #5a70ff;
  background-color: #aeb9e7;
  color: #fff;
}
#action-btn-group > .btn-group button:active {
  box-shadow: 0 0 5px 1px #7d3a85;
  background-color: #7d3a85;
  color: #fff;
}
#action-btn-group > .btn-group .level {
  background-color: #818CBB;
  color: #eee;
}
@media screen and (max-width: 454px) {
  #action-btn-group .menu {
    background-color: #818CBB;
    color: #eee;
    transition: all 0.1s;
  }
  #action-btn-group .menu:hover {
    box-shadow: 0 0 5px 2px #5a70ff;
    background-color: #aeb9e7;
    color: #fff;
  }
  #action-btn-group .menu:active {
    box-shadow: 0 0 5px 1px #7d3a85;
    background-color: #7d3a85;
    color: #fff;
  }
  #action-btn-group > .btn-group {
    background-color: #818CBB;
    color: #eee;
    transition: all 0.1s;
  }
  #action-btn-group > .btn-group > button,
#action-btn-group > .btn-group .btn-group > button {
    background-color: #818CBB;
    color: #eee;
    transition: all 0.1s;
  }
  #action-btn-group > .btn-group > button:hover,
#action-btn-group > .btn-group .btn-group > button:hover {
    box-shadow: 0 0 5px 2px #5a70ff;
    background-color: #aeb9e7;
    color: #fff;
  }
  #action-btn-group > .btn-group > button:active,
#action-btn-group > .btn-group .btn-group > button:active {
    box-shadow: 0 0 5px 1px #7d3a85;
    background-color: #7d3a85;
    color: #fff;
  }
}

#block-area table td {
  border-color: #1b1066;
}
#block-area button {
  background-color: #8491CC;
}
#block-area button.open {
  background-color: #b5b5b5;
}
#block-area button.mine {
  background-color: #FFB6C1;
}

#block-area[data-animation="1"] button {
  transition: all 0.1s;
}
#block-area[data-animation="1"] button:hover {
  box-shadow: 0 0 3px 1px #3421b1;
}
#block-area[data-animation="1"] button:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.13);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.13);
  background-color: #B8CFE5;
}

#block-area button.open.one {
  color: #0000ff;
}
#block-area button.open.two {
  color: #008000;
}
#block-area button.open.three {
  color: #c50000;
}
#block-area button.open.four {
  color: #000080;
}
#block-area button.open.five {
  color: #800000;
}
#block-area button.open.six {
  color: #008080;
}
#block-area button.open.seven {
  color: #000;
}
#block-area button.open.eight {
  color: #808080;
}

/*# sourceMappingURL=dark-theme.css.map */
