html {
  font-size: 46px;
}

button {
  outline: none !important;
}

body {
  padding: 30px 0;
  transition: all 1s;
}
body #main {
  width: 454px;
  margin: 0 auto;
  padding: 25px 15px;
}
body .switch-group {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
body .switch-group > button:nth-child(n+2) {
  margin-left: 8px;
}
body #theme-switch,
body #animation-switch,
body #show-rank-list {
  width: 26px;
  height: 26px;
  padding: 0;
  border-width: 0;
  border-radius: 13px;
  font-size: 18px;
}
body #show-rank-list {
  border-radius: 0;
}
body #animation-switch[data-open="1"] {
  background-color: #3aa3ff;
  color: #fff;
}
body #animation-switch[data-open="0"] {
  background-color: #D0D0D7;
  color: #333;
}

#rank-list .rank-table-nav {
  display: flex;
  justify-content: center;
}
#rank-list table {
  margin-bottom: 0;
  font-size: 18px;
}
#rank-list table th,
#rank-list table tr {
  text-align: center;
}
#rank-list table > tbody > tr:last-child > td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

#action-btn-group {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 34px;
  text-align: center;
}
#action-btn-group #game-time {
  font-size: 18px;
  line-height: 34px;
}
#action-btn-group > .menu {
  display: none;
}
#action-btn-group > .btn-group button {
  transition: background-color 0.2s;
}
#action-btn-group > .btn-group .level button {
  display: block;
  width: 100%;
  padding: 3px 20px;
  border-width: 0;
  background-color: transparent;
  text-align: left;
}
@media screen and (max-width: 454px) {
  #action-btn-group > .menu {
    display: block !important;
    background-color: transparent;
  }
  #action-btn-group > .btn-group {
    display: none;
    position: absolute;
    left: 50%;
    top: 38px;
    z-index: 2;
    width: 150px;
    margin-left: -75px;
    padding: 5px 0;
    border-radius: 4px;
    transition: all 1s;
  }
  #action-btn-group > .btn-group > button,
#action-btn-group > .btn-group .btn-group > button {
    display: block;
    width: 100%;
    margin: 0;
    padding: 3px 20px;
    border-width: 0;
    border-radius: 0;
    text-align: left;
  }
  #action-btn-group > .btn-group > button:active,
#action-btn-group > .btn-group .btn-group > button:active {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  #action-btn-group > .btn-group .btn-group {
    width: 100%;
  }
  #action-btn-group > .btn-group .btn-group.open > button {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  #action-btn-group > .btn-group .btn-group > button {
    margin-left: 1px;
  }
}
#action-btn-group .left-mine-count {
  display: flex;
  height: 34px;
  padding-right: 10px;
  font-size: 18px;
  line-height: 34px;
}
#action-btn-group .left-mine-count .glyphicon {
  margin-right: 4px;
  line-height: 34px;
}

#block-area {
  margin-top: 20px;
}
#block-area table {
  margin: 0 auto;
}
#block-area table td {
  border-width: 1px;
  border-style: solid;
}
#block-area button {
  top: 0;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border-width: 0;
  border-radius: 0;
  font-family: Consolas, "Microsoft YaHei", serif;
  font-size: 0.6522rem;
  text-align: center;
  line-height: 1rem;
  cursor: default;
}
#block-area button::before {
  font-family: "Glyphicons Halflings";
  font-size: 0.5652rem;
}
#block-area button:active {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

/*# sourceMappingURL=index.css.map */
