// 页面宏观布局
body {
    background-color: #eee;

    #main {
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    }

    #theme-switch {
        background-color: #D0D0D7;
    }
}

// 按钮组
#action-btn-group {
    & > .btn-group .level button:hover {
        background-color: #F5F5F5;
    }

    @media screen and (max-width: 454px) {
        & > .btn-group {
            background-color: #fff;

            & > button,
            .btn-group > button {
                background-color: #fff;

                &:hover {
                    background-color: #F5F5F5;
                }
            }
        }
    }
}

// 方块区域
#block-area {
    table td {
        border-color: #B9B98C;
    }

    button {
        background-color: #AFEEEE;

        &.open {
            background-color: #F0F0F0;
        }

        &.mine {
            background-color: #FFB6C1;
        }
    }
}

// 控制方块相关的过渡效果
#block-area[data-animation="1"] {
    button {
        transition: all .1s;

        &:hover {
            box-shadow: 0 0 2px 0 #004242;
        }

        &:active {
            -webkit-box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
            box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
            background-color: #B8CFE5;
        }
    }
}

// 数字的颜色
#block-area button.open {
    &.one {
        color: #0000ff;
    }

    &.two {
        color: #008000;
    }

    &.three {
        color: #ff0000;
    }

    &.four {
        color: #000080
    }

    &.five {
        color: #800000;
    }

    &.six {
        color: #008080;
    }

    &.seven {
        color: #000;
    }

    &.eight {
        color: #808080;
    }
}